body {
    font-size: 12pt;
    font-family: "Comic Sans MS", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: black;
    background-color: darkgrey;
    line-height: 1.2em;
    margin-left: 0px;
    margin-right: 20px;
    }
header {
    background-color: white;
    margin-left: 70px;
    padding: 1px 50px 1px 50px;
    width: 700px;
    box-shadow: 10px 10px 5px grey;
    }
section {
    background-color: white;
    margin-top: -50px;
    margin-left: 70px;
    padding: 1px 50px 1px 50px;
    width: 700px;
    box-shadow: 10px 10px 5px grey;
    }
footer {
    background-color: white;
    font-size: 70%;
    margin-left: 70px;
    padding: 1px 50px 1px 50px;
    width: 700px;
    box-shadow: 10px 10px 5px grey;
    }
h1 {
    font-size: 250%;
    color: maroon;
    font-weight: bold;
    margin-top: 1.7em;
    margin-bottom: 1em;
   }
h2 {
    font-size: 150%;
    color: maroon;
    font-weight: bold;
    margin-top: 3em;
    margin-bottom: 1em;
   }
h3 {
    font-size: 100%;
    color: maroon;
    font-weight: bold;
    margin-top: 3em;
    margin-bottom: 0em;
    }
th {color: maroon;
    font-weight: bold;
    text-align: left;
    padding-top: 10px;
    }
div.book {
    background-image: url("images/bookNarrow.png");
    background-repeat: repeat-y;
}
