
/** {
  box-sizing: border-box;
}*/
body {
    font-size: 12pt;
    font-family: "Comic Sans MS", 'Marker Felt', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: black;
    background-color: darkgrey;
    line-height: 1.2em;
    margin-left: 0px;
    margin-right: 20px;
    }
header {
    background-color: white;
    margin-left: 70px;
    padding: 1px 50px 1px 50px;
    width: 700px;
    box-shadow: 10px 10px 5px grey;
    }
section {
    background-color: white;
    margin-top: -50px;
    margin-left: 70px;
    padding: 1px 50px 1px 50px;
    width: 700px;
    box-shadow: 10px 10px 5px grey;
    }
footer {
    background-color: white;
    font-size: 70%;
    margin-left: 70px;
    padding: 1px 50px 1px 50px;
    width: 700px;
    box-shadow: 10px 10px 5px grey;
    }
h1 {
    font-size: 250%;
    color: maroon;
    font-weight: bold;
    margin-top: 1.7em;
    margin-bottom: 1em;
   }
h2 {
    font-size: 120%;
    color: white;
   }
div.book {
    background-image: url("images/bookNarrow.png");
    background-repeat: repeat-y;
    }
/* Extract from w3.css */
.w3-cell-row {
    display:table;
    width:100%
    }
.w3-cell {
    display:table-cell
    }
/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 700px;
    margin: 0 auto;
    }
/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: maroon;
    top: 0;
    bottom: 0;
    left: 163px;
    margin-left: -3px;
    }
/* Container around content */
.container {
    padding: 5px 0px;
    margin: 0px 0px;
    position: relative;
    background-color: inherit;
    }
/* The circles on the timeline */
.left::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    left: 146px;
    background-color: darkgrey;
    border: 4px solid #FF9F55;
    top: 10px;
    border-radius: 50%;
    z-index: 1;
    }
/* Place the container to the left */
.left {
    left: 0;
    width: 135px;
    }
/* Place the container to the right */
.right {
    left: 40px;
    width: 500px;
    }
/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 15px;
    width: 0;
    z-index: 1;
    right: -10px;
    border: medium solid maroon;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent maroon;
    }
/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 15px;
    width: 0;
    z-index: 1;
    left: -10px;
    border: medium solid maroon;
    border-width: 10px 10px 10px 0;
    border-color: transparent maroon transparent transparent;
    }
/* Fix the circle for containers on the right side */
.right::after {
    left: -47px;
    }
/* The actual content */
.content {
    font-size: 85%;
    padding: 5px 10px;
    margin: 0px 0px;
    color: white;
    background-color: maroon;
    position: relative;
    border-radius: 6px;
    }
